/* ==UserStyle==
@name           bss.bcit.ca/
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Highlight links on bss.bcit.ca pages
@updateURL      https://raw.githubusercontent.com/DanielM39/bss-bcit-ca-stylus/master/bss-bcit-ca.user.styl
@author         https://github.com/DanielM39
==/UserStyle== */
@-moz-document url-prefix("https://bss.bcit.ca/") {
	/* Insert code here... */
	:root {
		background: #e9ecf0;
	}
	.pldefault .taboff {
		border: solid;
		font-weight: bold;
		background: lightgoldenrodyellow;
	}
	.pldefault .tabon {
		border: solid;
		font-weight: bold;
		background: lightgoldenrodyellow;
	}
	a {
		font-weight: bold;
		background: lightgoldenrodyellow;
	}
}
